* {
	margin: 0;
	padding: 0;
}
.container {
	width: 76%;
	color: #333333;
    font-size: 18px;
    margin: 34px auto;
}
.biaoti>span {
	font-size: 24px;
	color: #bf1a1c;
	margin-left: 33%;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 0px gold;
}
.biaoti a span {
	color: #777777;
	font-size: 16px;
	position: relative;
	top: 12px;
	float: right;
}
.biaoti1 ul li {
    list-style-type: none;
    float: left;
    margin-right: 29px; 
    margin-bottom: 15px;
}
.biaoti1 img {
    margin-bottom: 2px;
}
.biaoti1 ul li:nth-of-type(4n) {
    list-style-type: none;
    float: left;
    margin-right: 0;
    margin-bottom: 15px;
}
.biaoti1 div {
    display: inline-block;
}
img {
    width: 274px;
}
.biaoti2 ul li {
    margin: 0 160px 10px 19px;
    list-style-type: square;
    float: left;
    font-size: 24px;
    color: #bf1a1c;
}
.biaoti2 p {
    width: 420px;
    color: #bf1a1c;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.biaoti2 {
    margin-bottom: 15px;
}
.biaoti3 {
    margin-bottom: 30px;
}
.biaoti3 ul li {
    margin: 0 164px 10px 15px;
    list-style-type: square;
    float: left;
    color: #cccccc;
	font-size: 18px;
}
.biaoti3 p {
    width: 420px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 3px;
}
.biaoti4 p {
    display: inline-block;
    font-size: 24px;
	color: #bf1a1c;
	margin-left: 42%;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 0px gold;
}
.biaoti4 a span {
	color: #777777;
	font-size: 16px;
	position: relative;
    top: 12px;
    float: right;
}

.db{
    text-align: center;
}