body,td,th {font-size: 18px;background-color:white;font-family:Microsoft YaHei;}
*{margin:0; padding:0;}

li{list-style:none;}

.title{
	text-align: center;
/*	color:#bf1b1c;
	font-size: 33px;
	font-weight: 900;
	line-height: 70px;
	font-family: "宋体";
	text-shadow: 3px 2px 0px gold; */
	
	background: url(../img/014.png) no-repeat;
	height: 38px;
	width: 143px;
	margin: 22px auto 18px;
}
hr{
	background-color: #bf1b1c !important;
	height: 2px !important;
}
.more{
	float:right;
	margin-top: -34px;
	font-size: 16px;
	color:lightgray
}

.main_image{
	height: 422px;
	width: 58%;
	background-size: 100% 100%;	
}
.main_title{
    width: 35.7%;
    background-color: lightgray;
    height: 399px;
    margin-top: -421px;
	float: right;
	padding:21px 55px 0 21px;
}

.sub_title{
	padding-left: 30px;
	font-size: 24px;
	margin: 30px 0 32px 0;
	font-weight: bold
}
.sub_content{
	padding-left: 30px;
	line-height: 34px;
}
.switch li{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    float: right;
    margin: 7px;
}

.switch li.on{

    background-color: #bf1b1c;

}

.switch{
	margin-top: 34px;
	
}

.content_1{
	width: 55%;
}
.title_1{
	color:#bf1b1c;
	font-size: 22px;
	font-weight: bold;
	line-height: 58px;
	border-bottom: 1px solid lightgray;
}
.square{
    width: 7px;
    height: 23px;
    background-color: #bf1b1c;
	float: left;
    margin-top: 18px;
	margin-right: 9px;
}
.more1{
	float:right;
	margin-top: -31px;
	font-size: 16px;
}

.main_image1{
	height: 150px;
	width: 30%;
    background: url(../img/content1.png) no-repeat;
	background-size: 100% 100%;	
	margin-top: 15px;
}

.main_title1{
    width: 70%;
    height: 150px;
    float: right;   
    margin-top: -154px;
}
.sub_title1{
	padding-left: 43px;
    margin-bottom: 22px;
	font-size: 20px;
	font-weight: bold
}

.sub_content1{
	padding-left: 43px;
	font-size: 17px;
	line-height: 32px;
    text-overflow: ellipsis;
    white-space:nowrap;
	overflow:hidden;
	height:60px;	
}
.sub_content1 a{color: #777 !important;
}
.sub_content2{
	line-height: 37px;
	margin-top: 9px;
}
.sub_content2 ul{
    color: lightgray;
}

.two li{
	list-style: none;
	text-indent: 0px;
}

.two{
	margin-top: 8px;
}
.sub_content2 div {
	    text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden;
} 

.sub_content2 li {
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden;
} 

.three{
	text-indent: 13px;
	
}

.disc{
	width: 8px;
	height: 8px;
	background-color: lightgray;
	border-radius: 50%;
	position: absolute;
	margin-top: 14px;
}

.more a, .more1 a{
    color: #777;
}

.content_1 {
	width: 55% !important;
	padding-right: 30px !important;
}

.content_2 {
	float: right !important;
	width: 45% !important;
	padding-left: 30px;
	border-left: 1px solid lightgray;
}

.content {
	margin-top: 18px;
}

.layui-carousel-ind ul {
	background-color: transparent !important;
}

.layui-carousel-ind li.layui-this {
	background-color: #bf1b1c !important;
}
.layui-carousel-ind li {
	margin: 0 5px !important;
}
.layui-carousel-ind {
    text-align: right !important;
    right: 41px !important;
}
