* {
	margin: 0;
	padding: 0;
}
.container {
	width: 76%;
	color: #333333;
	font-size: 18px;
	margin: auto;
}
.biaoti1 {
	margin-bottom: 30px;
}
.biaoti1 img {
	width: 100%;
}
.biaoti {
	position: relative;
	margin-bottom: 15px;
}
.biaoti div {
	display: inline-block;
	background-color: #bf1a1c;
	width: 7px;
	height: 24px;
	position: absolute;
	top: 5px;
}
.biaoti>span {
	font-size: 24px;
	color: #bf1a1c;
	margin-left: 30px;
	font-weight: bold;
}
.biaoti a span {
	color: #666666;
	font-size: 16px;
	position: relative;
	top: 12px;
	float: right;
}
.container2 {
	margin-bottom: 20px;
}
.box1 {
	display: inline-block;
	background-color: #cbcbcb;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 10px;
}
.box1+a {
	margin-left: 30px;
}
ul li{
	position: relative;
	margin-bottom: 15px;
}
.container1 {
	float: right;
}