td,
th {
    font-size: 18px !important;
    background-color: white !important;
    font-family: Microsoft YaHei !important ;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.title,.title1 {
    text-align: center;
	background: url(../img/016.png) no-repeat;
	height: 38px;
	width: 147px;
	margin: 22px auto 18px;
}
.title1{
    background: url(../img/015.png) no-repeat; 
    margin-top: 46px;
}
hr{
	background-color: #bf1b1c !important;
	height: 2px !important;
}

.title_img {
    text-align: center;
    height: 320px;
    margin-top: 19px;
    width: 100%;
    background: url(../img/title_llwz.png) no-repeat;
    background-size: 100% 100%;
}

#buttons {
    float: right;
    margin: 8px 58px;
}

.button {
    width: 152px;
    border: 1px solid #bf1b1c;
    height: 56px;
    line-height: 56px;
    margin: 29px 0px;
    padding: 2px;
    cursor: pointer;
}

.zyjh {
    background-color: #bf1b1c;
    font-size: 22px;
}
.zyjh a{
    color: #fff;
}
.sub_title {
    color: #bf1b1c;
    font-size: 26px;
    font-weight: bold;
    line-height: 70px;
}

.book {
    margin-left: -98px;
    color: #bf1b1c
}

.book li {
    list-style: square;
    font-size: 24px;
    float: left;
    margin-left: 126px;
}

.book a {
    cursor: pointer;
}

.book:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}

.left_menu{
    margin-top: 18px;
}
.left_menu a {
    font-size: 20px;
    display: table;
    float: left;
    width: 133px;
    height: 89px;
    background-color: lightgrey;
    text-align: center;
    line-height: 89px;
    margin: 1px;
    cursor: pointer;
}
.left_menu a.on {
    background-position: 0px center;
    background-color: #bf1b1c;
    color: #fff;
}
.right_menu{
    position: relative;
    background: #F5F5F5;
    margin-top: 18px;
    padding-left: 57px;
    font-size: 17px;
    line-height: 36px;
    color: lightgrey;
    height: 277px;
    padding-top: 12px;
}
.right_menu li {
    list-style: none;
	margin-top: 2px;
}
.right_menu p {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 600px;
    padding-left: 19px;
}
.right_menu img {
    margin: 103px 19px;
}
body,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab-menu li{         
    cursor: pointer;
}
.tab-menu .active{
    background: #bf1b1c;
    color: white;
}
.tab-content li{
    display: none;
}
.tab-content .show{
    display: block;
}
.disc{
	width: 8px;
	height: 8px;
	background-color: lightgray;
	border-radius: 50%;
	position: absolute;
	margin-top: 14px;
}
.arrow{
    height: 277px;
    width: 76px;
    background-color: #F5F5F5;
	line-height: 277px;
	position: absolute;
	z-index: 1;
    text-align: center; 
    top: 0;
    left: 870px;
}

.arrow:hover
{ 
background-color:lightgray;
}


.layui-nav-tree .layui-nav-item a {
    height: 67px !important;
    width: 46px !important;
    line-height: 67px !important;
    color: black !important
}

.left_menu a.on {
    color: #fff !important;
}


.layui-nav-tree .layui-nav-item a:hover {
    background-color: #fff !important;
    color: black !important;
}
#gfxwj{
    text-overflow: initial;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    line-height: 47px !important;
    text-indent: -6px;
}

#gfxwj span{
    position: absolute;
    top: 26px;
    left: 30px;
    font-size: 20px;
}