body,
td,
th {
	font-size: 18px;
	background-color: white;
	font-family: Microsoft YaHei;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.sub_menu {
	line-height: 75px;
}

.sub_menu a {
	color: #777777;
	font-size: 16px;
}

.title {
	text-align: center;
	font-size: 26px;
	font-weight: 600;
}

.fbr {
	text-align: left;
	margin-top: 16px;
	padding-bottom: 10px;
	font-weight: 400;
}

.time {
	text-align: right;
	margin-top: -29px;
}

.rs {
	border-bottom: 1px solid lightgray;
	margin-top: 16px;
	padding-bottom: 12px;
	font-size: 16px;
	color: #777777;
}

.content {
	text-indent: 2em;
	line-height: 40px;
	margin-top: 8px;
	font-size: 20px;
	width: 1200px;
}

.name {
	text-indent: 0em;
}