* {
	margin: 0;
	padding: 0;
}
.container {
	width: 76%;
	color: #333333;
    font-size: 18px;
    margin: auto;
}
input[type=text] {
	width: 250px;
	height: 30px;
	border-radius: 18px;
	border: 1px solid gainsboro;
}
.search {
	position: absolute;
	left: 222px;
	top: 8px;
	font-size: 20px;
}
.first {
	position: relative;
	margin: 20px 0;
}
.first p {
	color: #666666;
	font-size: 16px;
}
.first p+div {
	position: absolute;
	top: -5px;
	left: 880px;
}
.second {
	position: relative;
	margin-bottom: 20px;
}
.second div {
	display: inline-block;
	background-color: #bf1a1c;
	width: 7px;
	height: 24px;
	position: absolute;
	top: 5px;
}
.second span {
	font-size: 24px;
	color: #bf1a1c;
	margin-left: 15px;
	font-weight: bold;
}
.third ul li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}
.third p {
	display: inline-block;
	width: 160px;
}
.third a {
	font-weight: bold;
}
.four ul li {
    list-style-type: none;
    display: inline;
    position: relative;
    margin-right: 125px;
}
.box1 {
	display: inline-block;
	background-color: #bf1a1c;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 8px;
}
.box1+span {
    margin-left: 20px;
}
.third div {
    display: inline-block;
    padding-bottom: 30px;
}
.four li>div {
    display: inline-block;
    padding-bottom: 10px;
}