* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	color: #333333;
	font-size: 18px;
}
input[type=text] {
	width: 250px;
	height: 30px;
	border-radius: 18px;
	border: 1px solid gainsboro;
}
.search {
	position: absolute;
	left: 222px;
	top: 4px;
	font-size: 20px;
}
.first {
	position: relative;
	margin: 20px 0;
}
.first p {
	color: #666666;
	font-size: 16px;
}
.first p+div {
	position: absolute;
	top: -5px;
	left: 880px;
}
.second {
	position: relative;
	margin-bottom: 20px;
}
.second div {
	display: inline-block;
	background-color: #bf1a1c;
	width: 7px;
	height: 24px;
	position: absolute;
	top: 5px;
}
.second span {
	font-size: 24px;
	color: #bf1a1c;
	margin-left: 30px;
	font-weight: bold;
}
ul li {
    list-style-type: none;
    display: inline;
    margin: 0 30px 30px 0;
}