* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	color: #333333;
	font-size: 18px;
	margin: auto;
}
input[type=text] {
	width: 250px;
	height: 30px;
	border-radius: 18px;
	border: 1px solid gainsboro;
}
.search {
	position: absolute;
	left: 222px;
	top: 8px;
	font-size: 20px;
}
.first {
	position: relative;
	margin: 20px 0;
}
.first p {
	color: #777777;
	font-size: 16px;
}
.first p+div {
	position: absolute;
	top: -5px;
	left: 880px;
}
.second {
	position: relative;
	margin-bottom: 20px;
}
.second div {
	display: inline-block;
	background-color: #bf1a1c;
	width: 7px;
	height: 24px;
	position: absolute;
	top: 5px;
}
.second span {
	font-size: 24px;
	color: #bf1a1c;
	margin-left: 30px;
	font-weight: bold;
}
.box1 {
	display: inline-block;
	background-color: #cbcbcb;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 10px;
}
.box1+a{
	margin-left: 30px;
}
#test {
	margin: 30px 0 0 345px;
}
div #test a {
	background: #d7d7d7;
	border: 2px solid white;
}
ul li{
	position: relative;
	margin-bottom: 15px;
}

.container1 {
	width: 73%;
	margin: auto;
	float: left;
}
.navBar {
	width: 10%;
	float: left;
	margin-top: 65px;
	visibility: hidden;
}

.navBar ul {
	width: 71%;
	
}

.navBar li {
	
	background-color: #DBDBDB;
	border-bottom: 3px solid white;
}

.navBar .layui-nav {
	background-color: rgba(255, 255, 255, 0) !important;
}


.navBar .layui-nav>.layui-this>a{
	background-color: red !important;
	color: white !important;
	
}
.navBar .layui-nav-bar {
	background-color: #ffffff !important;
}

.navBar .layui-nav-item a:hover{
	background-color: #aca9a9 !important;
	
}

.navBar .layui-nav a{
	color: black !important; 
	text-align: center;
	height: 40px !important;
	line-height: 43px !important;
}

.navBar li {
	margin-bottom: 0px;
}

.ul_body {
	height: 570px;
}

.layui-laypage a, .layui-laypage span {
	font-size: 18px !important;
}